@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserratlight.eot');
    src: url('../fonts/montserratlight.eot') format('embedded-opentype'),
         url('../fonts/montserratlight.woff2') format('woff2'),
         url('../fonts/montserratlight.woff') format('woff'),
         url('../fonts/montserratlight.ttf') format('truetype');
}

@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/MinionProRegular.eot');
    src: url('../fonts/MinionProRegular.eot') format('embedded-opentype'),
         url('../fonts/MinionProRegular.woff2') format('woff2'),
         url('../fonts/MinionProRegular.woff') format('woff'),
         url('../fonts/MinionProRegular.ttf') format('truetype');
}
